/* css styles */
#parent{
    padding: 0;
}
#child-left{
    float: left;
    width: 50%;
}
#child-right{
    float: right;
    width: 50%;
}

.coffeea{
  color: #E41A1C;
  font-weight: 600;
}
.coffeeb{
  color: #377EB8;
  font-weight: 600;
}

.coffeec{
  color: #4DAF4A;
  font-weight: 600;
}

.coffeed{
  color: #984EA3;
  font-weight: 600;
}

.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
body {
  font-family: Arial;
}

figcaption{
  font-style: italic;
}

p, .p {
  text-align: left;
  margin-bottom: 0.2rem;
}

.cv-date {
  float: right;
}

h2, .h2{
  font-size: calc(1.1rem + 0.48vw);
}
h3, .h3 {
  color: #2373b0;
  font-size: calc(1.1rem + 0.24vw);
}

h5, .h5 {
  color: #b07112;
  font-weight: 500;
  font-size: 1.0rem;
}

img{
  border-radius: 5px;
}